<header class="header">
    <div class="header-content">
        <img class="kw-logo" src="img/logo.png" alt="Kochwelt">
        <nav-bar class="nav-bar">
            <div class="hover-link">
                <a class="nav-bar-link" href="#">Start</a>
            </div>
            <div class="hover-link">
                <a class="nav-bar-link rdt" href="#">Rezept des Tages</a>
            </div>
            <div class="hover-link">
                <a class="nav-bar-link" href="#">Kontakt</a>
            </div>
            <div class="hover-link">
                <a class="nav-bar-link" href="#">Impressum</a>
            </div>
        </nav-bar>
    </div>

</header>